body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url(./Assets/Images/trv9_44up_210408.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}
.monkey-img {
  height: 180px;
  position: absolute;
  left: 20%;
  top: 7%;
  animation: monkeyAnimation 2s infinite; /* Adjust the duration as needed */
}
#top-bar {
  position: fixed;
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
  width: auto;
  z-index: 100;
  color: black;
}

.score, .high-score {
  font-size: 20px;
  margin-right: 10px;
}
@keyframes monkeyAnimation {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px); /* Adjust the vertical translation as needed */
  }
  100% {
      transform: translateY(0);
  }
}

.brown-shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(139, 69, 19, 0); /* Initial color with 0 opacity */
  transition: background-color 0.5s; /* Add a transition for smooth color changes */
}
@keyframes splashAnimation {
  0% {
      transform: scale(1); 
  }
  100% {
      transform: scale(2);
}
}
.brown-shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(139, 69, 19, 0); /* Initial color with 0 opacity */
  transition: background-color 0.5s; /* Add a transition for smooth color changes */
}

.game-container {
  position: relative;
  width: 100vw; /* 100% of viewport width */
  height: 100vh; /* 100% of viewport height */
  border: 2px solid #000;
  overflow: hidden;
}
.poop-top {

  position: absolute;
  top: 30px;
  left: -25px;
  width: 400px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;

  /* background-color: #8B4513; */
  background-image: url(./Assets/Images/branch2.png);
  background-size: contain;
  overflow: hidden;
  animation: shakeAnimation 4s infinite forwards; 
  transition: transform 0.2s ease-in-out; 
}
@keyframes shakeAnimation {
  0% {
    transform: translateY(100px);
  }
  10% {
    transform: translateY(50px);
  }
  20% {
    transform: translateY(-50px);
  }
  30%, 40%, 50%, 60%, 70%, 80%, 90% {
    transform: translateY(0);
  }
  100%{ transform: translateY(-100px);}
}
#endgame-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

#endgame-screen img {
  width: 700px;
  mix-blend-mode: normal; /* Adjust the width of the game over image */
  z-index: 3;
}

#endgame-score {
  color: white;
  font-size: 24px;
  margin-top: 20px;
  z-index: 3;
}
#endgame-image {
  width: 90%; /* Adjust the size of the endgame image */
  height: 70%;
  margin-bottom: 20px;
  mix-blend-mode: screen; /* Blend mode to make the image bright */
}
.stool {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 20px;
  
  
}
.target-pot {
  position: absolute;
  bottom: -15px;
  right: 2px;
  width: 250px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(./Assets/Images/ping.png);
  background-size: contain;
  overflow: hidden;
  z-index: 1; /* Ensure the pot is above the background */
  animation: shakeAnimation 0.3s infinite alternate;
}
@keyframes shakeAnimation {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}

.poop {
  position: absolute;
  top: 20%; /* Adjust the initial top position as needed */
  left: 15%; /* Adjust the initial left position as needed */
  z-index: 2; /* Ensure the poop is above both background and pot */
}

.stool_img{
    height: 20vh;
    width: 20vh;
    background-position: center;
    background-repeat: no-repeat;
}
@keyframes runAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Apply the animation to the monkey image */
#running-monkey {
  height: 180px;
  position: absolute;
  left: 20%;
  top: 7%;
  animation: runAnimation 1s infinite; /* Run the animation infinitely */
}

h1 {
  font-family: 'Arial', sans-serif;
  text-align: center;
  color: #663399;
  text-shadow: 2px 2px 2px #000;
  margin-top: 0;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #f8f8f8;
  padding: 10px 0;
  z-index: 1000; /* Ensure it appears above other elements */
}
