body {
    margin: 0;
    padding: 0;
}

.homepage-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.homepage-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.start-button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;

    margin-bottom: 100px;
    align-items: center;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
}

button {
    font-family: 'Arial', sans-serif;
    font-size: 20px; 
    padding: 15px 30px; 
    background-color: #9d581b;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 40px;
    transition: background-color 0.3s ease, transform 0.2s ease; 
  }

  button:hover {
    background-color: #6f3131;
  }

  button:active {
    transform: scale(0.95) translate(2px, 2px); 
  }

  .monkey-image {
    width: 450px;
    height: auto;
    margin-bottom: 20px;
}

.custom-image {
    width: 50px;
    height: auto;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}
